body {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#display_box {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#display {
    width: 700px;
    height: fit-content;
    background-color: #283c65;
}

#time_of_arrival {
    font-weight: bolder;
    font-size: 280%;
    transform: translate(0%, -12%);
}

#train_number_box {
    margin-top: 5px;
    margin-right: 10%;
}

.row {
    display: flex;
    margin-top: 0px;
    margin-bottom: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    padding-left: 0px;
    padding-right: 0px;
}

li {
    list-style-type: none;
}

.label {
    font-style: italic;
}

#time_of_arrival_box {
    margin-top: 5px;
    height: 65px;
}

#train_number {
    position: absolute;
    font-size: 190%;
    transform: translate(-2%, -10%);
}

.row {
    padding-left: 5px;
    padding-right: 5px;
}

#starting_station {
    font-size: 280%;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bolder;
    transform: translate(0%, -0%);
}

#operator {
    font-size: 160%;
    white-space: nowrap;
    overflow: hidden;
    transform: translate(0%, -10%);
}

#row1,
#row3 {
    margin-bottom: 0px;
}

#delay_box {
    margin-top: 5px;
    height: 65px;
}

#delay_background {
    background-color: red;
    display: flex;
    width: fit-content;
    height: 65%;
    transform: translate(0%, 5%);
}

#row2 {
    height: 75px;
    margin-bottom: 0px;
}

#delay {
    font-size: 290%;
    font-weight: bolder;
    transform: translate(0%, -15%);
}

#row3 {
    background-color: maroon;
    height: 177px;
}

#terminates_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    transform: translateY(-5px);
}

#terminates_pl {
    font-size: 500%;
}

#terminates_en {
    font-size: 380%;
}

#info_bar_box {
    width: 100%;
    height: 38px;
    margin: 0;
    background-color: #2f353d;
}

#info_bar {
    font-size: 160%;
    width: 100%;
    font-weight: bolder;
    font-style: italic;
}

/* Scroll text */

.box_scroll {
    display: flex;
    overflow: visible;
    white-space: nowrap;
    align-items: center;
}

/* Rainbow background effect */

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

.rainbow {
    background: linear-gradient(270deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
    background-size: 1400% 1400%;
    animation: rainbow 10s ease infinite;
}