body {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#display_box {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#display {
    width: 700px;
    height: 400px;
    background-color: #283c65;
}

#time {
    font-weight: bolder;
    font-size: 420%;
}

.row {
    display: flex;
    align-items: top;
    margin-top: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    padding-left: 10px;
    padding-right: 10px;
}

.label {
    font-style: italic;
}

#train_number_box {
    margin-right: 10%;
}

#train_number {
    position: absolute;
    font-size: 190%;
    transform: translate(-2%, -20%);
}

#row2 {
    padding-left: 0;
    padding-right: 0;
}

#destination {
    font-size: 420%;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
}

/* Scroll text */

.scroll {
    color: transparent;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.scroll::after, .scroll::before {
    content: attr(data-scroll-text);
    color: transparent;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    top: 0;
    left: 0;
    animation: scroll-text 18s linear infinite;
}

.scroll::before {
    animation-delay: 9s;
}

@keyframes scroll-text {
    0%{
        transform: translateX(110%); 
        color: white;
    }
    100% {
        transform: translateX(-110%); /* 110% potrzebne do zrobienia odstępów pomiędzy tekstami */
        color: white;
    }
}
