body {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#display_box {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#display {
    width: 700px;
    height: 400px;
    background-color: #283c65;
}

#time {
    font-weight: bolder;
    font-size: 420%;
}

.row {
    display: flex;
    align-items: top;
    margin-top: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul {
    padding-left: 10px;
    padding-right: 10px;
}

.label {
    font-style: italic;
}

#train_number_box {
    margin-right: 10%;
}

#train_number {
    position: absolute;
    font-size: 190%;
    transform: translate(-2%, -20%);
}

#destination {
    font-size: 420%;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
}

.scroll {
    color: transparent;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.scroll::after {
    content: attr(data-scroll-text);
    color: white;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    top: 0;
    left: 0; /* Zmieniamy na 0, aby tekst zaczynał się dokładnie od prawej krawędzi kontenera */
    animation: scroll-text 20s linear infinite; /* Możesz dostosować czas trwania dla płynniejszego przewijania */
}

@keyframes scroll-text {
    0% {
        transform: translateX(100vw); /* Startuje z prawej strony ekranu */
    }
    100% {
        transform: translateX(-100%); /* Kończy po lewej stronie ekranu, pozwalając na całkowite wyjście tekstu */
    }
}